<html lang="en">
<head>
    <style>
        .font-weight-normal {
            font-weight: 400 !important;
        }

        .mr-md-auto, .mx-md-auto {
            margin-right: auto !important;
        }

        .d-flex {
            display: flex !important;
        }

        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        div {
            display: block;
        }

        body {
            font-family: 'Muli', sans-serif;
            background: #ECDFD7 !important;
        }
    </style>
    <script src="~/lib/sweetalert.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />
    <script src="/js/site.js"></script>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Beauty</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="btn btn-outline-secondary rounded-pill" asp-controller="MasterPages" asp-action="HomePage">Главная</a>
            <a class="btn btn-outline-secondary rounded-pill" asp-controller="MasterPages" asp-action="CreateNewService">Добавить услугу</a>
            <a class="btn btn-outline-secondary rounded-pill" asp-controller="MasterPages" asp-action="addShedul">Добавить расписание</a>
            <a class="btn btn-secondary rounded-pill" asp-controller="MasterPages" asp-action="addPhoto">Добавить фото</a>
            <a class="btn btn-outline-secondary rounded-pill" asp-controller="MasterPages" asp-action="ServiceList">Мои услуги</a>
            <a class="btn btn-outline-secondary rounded-pill" asp-controller="MasterPages" asp-action="selectHistory">Записи</a>
            <a class="btn btn-outline-secondary rounded-pill" asp-controller="MasterPages" asp-action="selectMasterInfo">Профиль</a>
            <a class="btn btn-outline-secondary rounded-pill" asp-controller="MasterPages" asp-action="Signout">Выйти</a>
        </nav>
    </div>
    <h2 class="text-center">
        Добавить фотографию работы
    </h2>
    <h4 class="text-center">
        Загрузите изображение и введите описание
    </h4>

    <form id="addInfo" enctype="multipart/form-data" style=" margin-left: 25%; margin-right: 25%;">
        <input type="file" name="Photo" accept="image/jpg" style=" margin-top: 10px;" />
        <div class="form-group" style=" margin-top: 10px">
            <textarea class="form-control rounded-pill" id="descr" name="descr" rows="3" placeholder="Описание (до 100 символов)" required maxlength="100"></textarea>
        </div>
        <button type="button" onclick="addPhoto()" class="btn btn-secondary rounded-pill" style=" margin-top: 20px; margin-left: 84%;">Добавить</button>
    </form>
</body>
</html>