<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/styleFirst.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />
    <style>
        .my-btn {
            background: #AF654A;
            border-radius: 40px;
            color: #FFFFFF;

            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
        }
    </style>
</head>
<body>
    <span class="first">Что может быть лучше заботы о себе?</span>
    <span class="second">
        Сделай последний шаг к совершенству
        и найди мастера красоты для себя
    </span>
    <img src="/img/img.jpg">
    <div class="cont">
        <a class="btn btn-lg my-btn" asp-controller="RandomUser" asp-action="HomePage" role="button">
            Продолжить
        </a>
    </div>

</body>
</html>
