<!DOCTYPE html>
<html lang="en">
<head>
    <title>Регистрация</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="~/style/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/style/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/style/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/style/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/style/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/style/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/style/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/style/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/style/css/main.css">
</head>
<body style="background-color: #ECDFD7;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" asp-controller="RegistrationAndAuthorization" asp-action="MasterRegistration">
                    <span class="login100-form-title p-b-43">
                        Заполните все поля
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="firstname">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Имя</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="lastname">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Фамилия</span>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="phonenumber">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Номер телефона</span>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="email">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Email</span>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="password">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Password</span>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="workexperience">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Опыт работы</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="servicelocation">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Место работы</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="country">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Страна</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="city">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Город</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="street">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Улица</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="house">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Дом</span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Зарегистрироваться
                        </button>
                    </div>

                    <div class="container-login100-form-btn" style="margin-top:30px;">
                        <a class="login100-form-btn" asp-controller="RegistrationAndAuthorization" asp-action="NewAuthorization">
                            У вас уже есть аккаунт? Войдите
                        </a>
                    </div>

                </form>

                <div class="login100-more" style="background-color: #ECDFD7;">

                </div>
            </div>
        </div>
    </div>
    <script src="~/style/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/style/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/style/vendor/bootstrap/js/popper.js"></script>
    <script src="~/style/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/style/vendor/select2/select2.min.js"></script>
    <script src="~/style/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/style/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/style/js/main.js"></script>

</body>
</html>


